.clients {
    padding-top: 94px;
    padding-bottom: 94px;

    &__title {
        @extend %title-style;
        @extend %section-title;
        margin-bottom: 50px;
        margin-top: 0px;
    }

    &__list {
        @extend %list;
        display: flex;
        justify-content: space-between;
    }

    &__link {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 170px;
        height: 92px;

        border: 1px solid #afb1b8;
        border-radius: 4px;
        cursor: pointer;

        transition: border-color 250ms $animation-timfun;
    }

    &__link:hover,
    &__link:focus {
        border-color: getColor("accent-color");
    }

    &__icon {
        fill: #afb1b8;
        transition: fill 250ms $animation-timfun;
    }

    &__link:hover &__icon,
    &__link:focus &__icon {
        fill: getColor("accent-color");
    }
}